* {
    margin: 0;
    padding: 0;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
}

.nav-link:hover{
    color: #ffffff;
}

.nav-brand{
    text-decoration: none;
    color: #ffffff;
}

#staff-list-h1{
    text-align: center;
    font-size: 2rem;
}

#button-list{
    display: flex;
    flex-wrap: wrap;
}

p{
    margin: 0;
}

@media screen and (min-width: 900px) {
    #staff-list-h1{
        font-size: 3rem;
    }
}
